{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
passwoed reset
{% endblock title %}

{% block content %}

{% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{error_message}}
    </div>
{% endif %}


<div class="max-w-lg mx-auto">
    <h2 class="text-4xl text-gray-800">Új jelszó kérése.</h2>
    <div class="">Kérlek add meg az e-mail címedet!</div>

    <form method="post" class="mt-5">
        {% csrf_token %}
        {{ form|crispy }}
        <button type='submit' class="btn btn-primary rounded-md mt-2">
            Új jelszót kérek!
        </button>
    </form>
    <div class="mt-5">
        <a class="hover:text-blue-500" href="{% url 'login' %}">Van már felhasználói neved és jelszavad?</a>
    </div>
</div>


{% endblock content %}