{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
<script src="{% static 'orders/home.js' %}" defer></script>

{% endblock scripts %}

{% block title %}
home
{% endblock title %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="order-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rendelés véglegesítése</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Aktuális rendelésed:
          <div id="order_data">
              <ul id="mylist">

              </ul>
            <div id="sum">Nincs rendelés!</div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégsem</button>
        <button type="button" class="btn btn-primary" id="confirm-order">Megrendelem!</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal vége -->

<hr>

<!--<form action="" method="POST">-->
<!--    {% csrf_token %}-->
<!--    {{ form|crispy }}-->
<!--    <button type="submit" class="btn btn-primary mt-3">Keresés</button>-->
<!--</form>-->

<br>
{% if order_df %}
    Rendelések(orders_df):
    {{ order_df|safe }}
    <br>
    Részletek (positions_df):
    {{ positions_df|safe }}
    <br>
    merge_df:
    {{ merged_df|safe }}
    <br>
    df_meals:
    {{ df_meals|safe }}
     <br>


{% else %}
<!--    <h3>No data</h3>-->
{% endif %}
<div id="alert-box"></div>
<button type="button" id="make-order" data-bs-toggle="modal" data-bs-target="#order-modal" class="btn btn-primary mt-3">Rendelés véglegesítése</button>
<hr>
<form id="order_form">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-4">Típus / fogás</div>
        <div class="col-sm-1">db</div>
        <div class="col-sm-1">ár</div>
        <div class="col-sm-2">dobozok</div>

    </div>
    <hr>
    <h5>Napi menü:</h5>
    {% for obj in napi_qs %}
        {% include 'orders/meals_inline.html' %}
    {% endfor %}
    <hr>
    <h5>Napi táblás:</h5>
    {% for obj in napi_tablas_qs %}
        {% include 'orders/meals_inline.html' %}
    {% endfor %}
    <hr>
    <h5>Állandó választék:</h5>
    {% for obj in allando_qs %}
        {% include 'orders/meals_inline.html' %}
    {% endfor %}
    <hr>
    <h5>Egyebek:</h5>
    {% for obj in egyeb_qs %}
        {% include 'orders/meals_inline.html' %}
    {% endfor %}

   <hr>
<!--    <button id="make-order" data-bs-toggle="modal" data-bs-target="#order-modal" class="btn btn-primary mt-3">Rendelés véglegesítése</button>-->

</form>

{% endblock content %}

