{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
home
{% endblock title %}

{% block content %}
<hr>

<form action="" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary mt-3">Keresés</button>
</form>

<br>
{% if order_df %}
    Rendelések(orders_df):
    {{ order_df|safe }}
    <br>
    Részletek (positions_df):
    {{ positions_df|safe }}
    <br>
    merge_df:
    {{ merged_df|safe }}
    <br>
    df_meals:
    {{ df_meals|safe }}
     <br>
    df_pos:
    {{ df_pos|safe }}


{% else %}
    <h3>No data</h3>
{% endif %}

<form>
  <div class="form-group row">
    <label for="text1" class="col-sm-4 col-form-label">kaja1</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="text1" placeholder="darabszám">
    </div>

      <div class="form-check col-sm-1">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Doboz 1
        </label>
      </div>

      <div class="form-check col-sm-1">
        <input class="form-check-input" type="checkbox" id="gridCheck2">
        <label class="form-check-label" for="gridCheck2">
          Doboz 1
        </label>
      </div>
  </div>
    <hr>
    <button type="submit" class="btn btn-primary mt-3">Rendelés feladása</button>

</form>

{% endblock content %}

