{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'orders/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
orders list
{% endblock title %}

{% block content %}
<div id="alert-box"></div>
<br>

<div class="row">
    <div class="col-sm-4"> Rendelések listája:</div>
    <div class="col-sm-4"> Kifizetések állapota</div>
</div>
<hr>
{% for obj in object_list %}
<div class="row">
    <div class="card mb-1 mt-1 col-sm-4">
        <a href="{{ obj.get_absolute_url }}" class="card-body"> {{ obj }} </a>
    </div>
    <div class="col-sm-4">
        {% if request.user.is_staff %}
            {% if obj.paid == True %}
                <button type="button" id="{{ obj.pk }}" class="btn btn-success mt-3 order-toggle">Mégsem</button>
            {% else %}
                <button type="button" id="{{ obj.pk }}" class="btn btn-secondary mt-3 order-toggle">Váltás kifizetettre</button>
            {% endif %}
        {% else %}
            <span> {{ obj.paid }}</span>
        {% endif %}
    </div>
</div>
<!--    <br>-->

{% endfor %}

<form id="order_form">
    {% csrf_token %}
</form>


{% endblock content %}