{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'orders/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
orders list
{% endblock title %}

{% block content %}
<div id="alert-box"></div>
<br>

<div class="row">
    <div class="col-sm-4"> Rendelések listája:</div>
    <div class="col-sm-4"> Kifizetések állapota</div>
</div>
<hr>
{% for obj in object_list %}
    {% include 'orders/orders_list_inline.html' %}
{% endfor %}
<hr>


<form id="order_form">
    {% csrf_token %}
</form>


{% endblock content %}