{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'orders/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
orders list
{% endblock title %}

{% block content %}
<div id="alert-box"></div>
<hr>
{% include 'meals/paginator.html' %}
<hr>
<div class="row mx-auto justify-content-center">
    <div class="col-sm-5"> Rendelések listája:</div>
    <div class="col-sm-2"> Rendelés időpontja</div>
    <div class="col-sm-5"> Kifizetések állapota</div>
</div>
<hr>

{% for obj in page_obj %}
    {% include 'orders/orders_list_inline.html' %}
{% endfor %}
<hr>
{% include 'meals/paginator.html' %}

<form id="order_form">
    {% csrf_token %}
</form>


{% endblock content %}