{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
<!--<script src="{% static 'orders/home.js' %}" defer></script>-->
<link href="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.2.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.2.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.2.min.css" rel="stylesheet" type="text/css">


<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.2.min.js"></script>

{{ script_table_meal | safe }}
<script src="{% static 'orders/clipboard.min.js' %}" defer></script>
<script src="{% static 'orders/queries.js' %}" defer></script>

{% endblock scripts %}

{% block title %}
    queries
{% endblock title %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="order-show-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eddig megrendelt ételek:</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div id="modal-to-copy" class="modal-body">
              {% for meal in meals %}
                <p>{{meal}}</p>
              {% endfor %}
          </div>
          <div class="modal-footer">
    <!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégsem</button>-->
    <!--        <button type="button" class="btn btn-primary" id="confirm-order">Megrendelem!</button>-->
          </div>
        </div>
      </div>
    </div>
    <!-- Modal vége -->


    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt-3">Keresés</button>
    </form>

    <div id="to-copy" style="display: none;">
        <textarea id = "masolni" class="js-copytextarea">

        {% for meal in meals %}
            <p>{{meal}}</p>
        {% endfor %}
        </textarea>

    </div>

<!--    <br>-->
    {% if order_df %}
        {% if tartozasok %}
        <hr>
        <div>
            <p>Statisztikáim:</p>
            <p>A keresett időszakban a tartozásaim összege: {{tartozasok}}Ft </p>
            {{ div_table_meal.bar | safe }}
        </div>

        {% endif %}

        <hr>
        <p class="mt-1 col-5"> A keresett időszakban a rendelések összege: {{sum}} Ft</p>
        <div class="row col-12">
            <p class="col-sm-2 mt-1">Megrendelt ételek:</p>
            <button type="button" id="show-meals" data-bs-toggle="modal" data-bs-target="#order-show-modal" class="btn btn-outline-primary col-sm-3 show-meals">Ételek mutatása másolhatóan.</button>

        </div>
        <div class="row">
            <div class="col-sm-6"> {{ div_table_meal.meals | safe }} </div>
            <div class="col-sm-6"> {{ div_table_meal.p | safe }} </div>
        </div>

        <hr>
        Rendelések:
        {{ div_table_meal.orders | safe }}
        <hr>
        Részletek:
        {{ div_table_meal.merged | safe }}


    {% else %}
        <h3>No data</h3>
    {% endif %}
    <div id="alert-box"></div>

{% endblock content %}