<div class="row mt-2">
    <div class="col-sm-2">Menü 1 leves:</div>
    <div class="col-sm-4 "><input class="col-sm-12 M1_leves_nev" type="text"  value="Menü 1 leves"></div>
    <div class="col-sm-1 "><input class="col-sm-12 M1_leves_ar" type="text"  value="0" placeholder="darabszám"></div>
</div>
<div class="row mt-2">
    <div class="col-sm-2">Menü 1 főétel:</div>
    <div class="col-sm-4 "><input class="col-sm-12 M1_fo_nev" type="text"  value="Menü 1 főétel"></div>
    <div class="col-sm-1 "><input class="col-sm-12 M1_fo_ar" type="text"  value="0" placeholder="darabszám"></div>
</div>
<div class="row mt-2">
    <div class="col-sm-2">Menü 2 leves:</div>
    <div class="col-sm-4 "><input class="col-sm-12 M2_leves_nev" type="text" " value="Menü 2 leves"></div>
    <div class="col-sm-1 "><input class="col-sm-12 M2_leves_ar" type="text"  value="0" placeholder="darabszám"></div>
</div>
<div class="row mt-2">
    <div class="col-sm-2">Menü 2 főétel:</div>
    <div class="col-sm-4 "><input class="col-sm-12 M2_fo_nev" type="text" value="Menü 2 főétel"></div>
    <div class="col-sm-1 "><input class="col-sm-12 M2_fo_ar" type="text" value="0" placeholder="darabszám"></div>
</div>
<div class="row mt-2">
    <div class="col-sm-2">Főzelék:</div>
    <div class="col-sm-4 "><input class="col-sm-12 fozelek_nev" type="text"  value="Főzelék"></div>
    <div class="col-sm-1 "><input class="col-sm-12 fozelek_ar" type="text"  value="0" placeholder="darabszám"></div>
</div>
<div class="row mt-2">
    <div class="col-sm-2">Feltét:</div>
    <div class="col-sm-4 "><input class="col-sm-12 feltet_nev" type="text" value="Feltét"></div>
    <div class="col-sm-1 "><input class="col-sm-12 feltet_ar" type="text" value="0" placeholder="darabszám"></div>
</div>