.avatar-big{
    height: 200px;
    widht: 200py;
    border-radius: 50%;
}

.avatar-sm{
    height: 40px;
    widht: 40py;
    border-radius: 50%;
}


.logo-sm{
    height: 30px;
    widht: auto;
}

.not-visible {
    display: none;
}

.megjegyzes {
    font-size: 15px;
    font-style: italic;
}

.center {
  text-align: center;

}

.nav {
  display:table;
}
.nav > li{
  width: auto;
  display:table-cell;
}

.responsive_image {
  width: 100%;
  max-hight: 200px;

}

.container_for_image {
  position: relative;
  text-align: center;
  color: white;
}

.centered_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



